body, html {
    font-family: 'Roboto', sans-serif; 
}
#header {
    width: 100%;
    background-color: transparent;
    transition: ease-out 0.2s;
}
#header .navbar-collapse{
    width: auto;
}
#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
}
.carousel-inner img {
  width: 100%;
}